main {}

body {
    font-family: "Lato", sans-serif;
    background-color: #0E0B16;
}

/*Header*/
header {
    color: aliceblue;
    padding-right: 35px;
    padding-left: 35px;
}

.header-1erRow {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {

    width: 100px;
    height: 100px;
    /*float: left;*/
}


.menu-1erRow {
    display: flex;
    justify-content: space-between;

}

#menuButton {
    font-size: 30px;
    cursor: pointer;
    align-content: flex-start;
    /*margin-left:20%;*/
}

#searchBox {
    align-content: flex-end
}

#searchTag {
    vertical-align: middle;
    margin-right: 30px;
}

a {
    margin: 10px;
}

.linknav {
    /*margin: 25px;
    padding: 25px;*/
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    /*float: right!important;*/
    margin: 5px;
    color: aliceblue;
    background-color: #0E0B16;
    vertical-align: baseline;
}


/*------MAIN----*/
main {
    /*margin-top: 15px;*/
    /*background-color: #E7DFDD;*/
    background: linear-gradient(141deg, #808080 0%, #8D8D8D 51%, #808080 75%);
    color: black;
    margin-bottom: 30px;
}

/*General de las listas*/
ul {
    list-style-type: none;
}

/*---Scrolling Promos---*/
.scrollProm {    
    padding: 40px;
    margin: 35px;
    align-self: center;
    width: 90%;
    height: 280px;
    display: block;
    overflow: inherit;    
    align-self: auto;   
}

.imag {
    vertical-align: middle;
    align-self: center;    
    display: block;    
}

#promo1 {
    align-self: auto;   
}

#promo2 {    
    align-self: auto;
}

#promo3 {
    align-self: auto;
}

/*---featured departments---*/

.featured-depts {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.imgBox {
    display: flex;
    justify-content: space-between;
}

.dept {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

/*Brand logos*/

.cointainer {}

.brand-logos {
    margin-top: 30px;
    width: auto;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-- Garabatos --*/

.garabatosBox {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.main-garab {
    flex-basis: 40%;
}

.garab {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

article h2 {
    margin-bottom: 0;
}

article p {
    margin-top: 1%;
}


.vertical-border {
    margin: 5px;
    border-left: thick solid #000000;
    border-width: thin;
}

/*---- footer ----*/

footer {
    margin-top: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;

}

.links {
    display: flex;
    justify-content: space-between;
    /*flex-basis: 22%;*/
}

.footerLinks {
    display: flex;
    flex-basis: 22%;
    flex-direction: column;
}

.footerLinks a {
    flex-basis: 100%;
}

.news-sign {}

#mailIcon {
    height: 30px;
    width: auto;
}

#socialIcon {
    margin-right: 40px;
    height: 35px;
    width: auto;
    float: right;
}

.firmas {
    margin-right: 30px;
    float: right;
    text-align: right;
}

/*Menu del costado*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/*botones siguiente y anterior*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev{
    left: 0px;<
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.oculto{
    animation-name: derecha;
    position: relative;    
    width: 0%;
    height: 0px;   
    opacity: 0; 
    transition: 1s;
    
}
.visible{
    animation-name: izquierda;
    position: relative;
    margin: auto;
    opacity: 1;
    padding-left: 2%;
    width: 95%;
    height: 300px;    
    transition: 2s;    
}
