body{
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

video {
    /*width: 60%;*/
    margin: auto;
    /*height: auto;*/
}

li.selected{
    background-color: #999999;
}
.vid-list-controls{
    display: flex;
    justify-content: center;
}
#media{
        background-color:#000;
        color:#fff;
        float:left;
        width:640px;
        height:400px;
    }
    #button_container{
        float:left;
    }
    .media_item{
        padding:15px;
        border:1px solid #aaa;
        background-color:#ccc;
        cursor:pointer;
        width:200px;
        margin:4px 0px 0px 4px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }