h1{
	text-align: center;
	color: white;
	background-color: black;
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	background-color: gray;
	list-style: none;
	display: flex;
}
li{
	padding: 10px;
}
.link{
	font-size: 20pt;	
}

section{
	padding: 50px;
}